<?xml version="1.0"?>
<robot name="four_wheel_front_drive">

  <!-- ================= BASE ================= -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.4 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.5 0.4 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="5.0"/>
      <inertia ixx="0.1" ixy="0" ixz="0"
               iyy="0.1" iyz="0"
               izz="0.1"/>
    </inertial>
  </link>

  <!-- ================= WHEEL MACRO ================= -->

  <!-- FRONT LEFT (NAPĘD) -->
  <link name="front_left_wheel">
    <visual>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0" ixz="0"
               iyy="0.001" iyz="0"
               izz="0.001"/>
    </inertial>
  </link>

  <joint name="front_left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
    <origin xyz="0.2 0.215 -0.02"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- FRONT RIGHT (NAPĘD) -->
  <link name="front_right_wheel">
    <visual>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0" ixz="0"
               iyy="0.001" iyz="0"
               izz="0.001"/>
    </inertial>
  </link>

  <joint name="front_right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
    <origin xyz="0.2 -0.215 -0.02"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="caster">
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001"
              ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster"/>
    <origin xyz="-0.2 0 -0.03"/>
  </joint>

  <gazebo reference="caster">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
  </gazebo>

  <!-- ================= DIFF DRIVE (PRZEDNIE KOŁA) ================= -->
  <gazebo>
    <plugin name="diff_drive_plugin" filename="libgazebo_ros_diff_drive.so">

      <left_joint>front_left_wheel_joint</left_joint>
      <right_joint>front_right_wheel_joint</right_joint>

      <wheel_separation>0.4</wheel_separation>
      <wheel_diameter>0.1</wheel_diameter>

      <cmd_vel_topic>cmd_vel</cmd_vel_topic>
      <odometry_topic>odom</odometry_topic>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>

    </plugin>
  </gazebo>
  
  <!-- ================= CAMERA ================= -->
<link name="camera_link"/>
<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin xyz="0.2 0 0.1" rpy="0 0 0"/>
</joint>

<gazebo reference="camera_link">
  <sensor type="camera" name="camera">
    <update_rate>30</update_rate>

    <camera>
      <horizontal_fov>1.57</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.1</near>
        <far>10</far>
      </clip>
    </camera>

    <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
      <frame_name>camera_link</frame_name>
    </plugin>
  </sensor>
</gazebo>

<!-- ================= LIDAR ================= -->
<link name="ray_link"/>

<joint name="ray_joint" type="fixed">
  <parent link="base_link"/>
  <child link="ray_link"/>
  <origin xyz="0.2 0 0.1" rpy="0 0 0"/>
</joint>

<gazebo reference="ray_link">
  <sensor type="ray" name="front_distance_sensor">
    <pose>0 0 0 0 0 0</pose>
    <visualize>true</visualize>
    <update_rate>20</update_rate>

    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>

      <range>
        <min>0.05</min>
        <max>5.0</max>
      </range>
    </ray>

    <plugin name="ray_plugin" filename="libgazebo_ros_ray_sensor.so">
    <ros>
      <namespace>/ray</namespace>
      <remapping>~/out:=scan</remapping>
    </ros>
    <output_type>sensor_msgs/LaserScan</output_type>
    <frame_name>ray_link</frame_name>
    </plugin>

  </sensor>
</gazebo>

</robot>